/***
 * Root selector for dark mode colors
 */
:root {
	--clr-dark: #333;
	--clr-light: #fff;
}

/***
 * Fonts
 */

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-variable.woff2') format('woff2'); /* Adjust filename */
  font-weight: 100 900; /* The range of weights this font supports */
  font-style: normal;
  font-display: swap; /* Crucial for performance! */
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-italic-variable.woff2') format('woff2'); /* Adjust filename */
  font-weight: 100 900; /* The range of weights this font supports */
  font-style: italic;
  font-display: swap; /* Crucial for performance! */
}

/***
 * Primary Styles
 */

html {
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	height: 100%;

	/* Transition for theme changes */
	transition: background-color 0.3s, color 0.3s;
}

body {
	padding: 0;
	margin: 0;
	height: 100%;

	background-color: var(--clr-light);
	color: var(--clr-dark);
}

a {
	color: var(--clr-dark);
	text-decoration: none;
}

header {
	z-index: 100;
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1vw;
	min-height: 1rem;
}

.header-brand {
	position: absolute;
	left: 0;
}

.header-nav ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.header-nav li {
	padding: 0 1em;
}

main {
	height: 100dvh;
	overflow-y: auto;
	/* scroll-snap-type: y mandatory; */
	/* scroll-padding-top: 0; */
}

section {
	height: 100dvh;
	/* scroll-snap-align: start; */
	/* scroll-snap-stop: always; */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(1.5rem,4vw,3rem);
}

#hero {
	flex-direction: column;
	background-color: aqua;
	text-align: center;
}

#about {
	background-color: blueviolet;
}

#contact {
	background-color: chartreuse;
}

/***
 * Dark mode settings
 */

html.dark-mode body {
	background-color: var(--clr-dark);
	color: var(--clr-light);
}

.toggle-container {
	position: absolute;
	right: 0;
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0;
	margin: 0;
	color: var(--clr-dark);
}

.sun-icon, .moon-icon {
	width: 24px;
	height: 24px;
	transition: opacity 0.3s;
}

/* Hide moon icon by default */
.moon-icon {
	display: none;
}

/* In dark mode, hide the sun icon */
html.dark-mode .sun-icon {
	display: none;
}

/* In dark mode, show the moon icon */
html.dark-mode .moon-icon {
	display: inline-block;
}

html.dark-mode a {
	color: var(--clr-light);
}

html.dark-mode .toggle-container {
	color: var(--clr-light);
}